/* TITLE section */




body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


#title{
   
    text-align: left;
  
}


.biggest-heading{
    font-family: 'Montserrat', sans-serif;
    font-size:3.5rem;
    line-height: 1.5;

}


p{
    color:#afafaf;
   
}




.colored-background{
    background-color: #ff4c68;
    color:white;
}

.white-background{
background-color: white;
color:black;
}

.container-fluid{
    padding:3%  15% 10%;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size:2.5rem;
    font-weight: bold;

}
.navbar{
padding:0 0 4.5rem;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
   
    font-size: 1.1rem;
}

.myclass-to-make-them-down{
  margin:10% 0% 0%;
}



/* titile image */
.title-image{
    width:60%;
    transform: rotate(25deg);
    margin-top: 10%;
    position: absolute;
    right:30%;
}

@media(max-width:1028px){
    .title-image{
        position: static;
        transform: rotate(0deg);
    }
    #title{
        text-align: center;
    }
}


 /* feature sectiom */

.fa-check-circle,.fa-bullseye,.fa-heart
{
    color:#ef8172;
    font-size:50px;
    margin-bottom: 1rem;

}
#features{
    
    padding: 7% 15%;
    position: relative;
    /* z-index:1;    by skiping this we made feautre section on top which was our work see flowchart */

}
.feature-box{
    

    padding:5%;
}


.fa-check-circle:hover,.fa-bullseye:hover,.fa-heart:hover{
    color: #ff4c68;
}

/* testimonial section */


#testimonials{
    padding:3% 15%;

    background-color:#ef8172 ;
    color: #fff;
   
}

.testimonial-heading{
    line-height: 1.5;
    font-size:3rem;
}



.testimonial-pic{
    width:25%;
    border-radius: 100%;
    margin:20px;
}
#press{
    background-color:#ef8172 ;

    padding: 3%;
}
.brands{
    width:15%;
    margin-left:4%;
}



/* pricing section */


#pricing{
    padding:100px;

}





.price-heading{
    line-height: 1.5;
    font-size:3rem;
}




.price-box{
    /*padding: 3% 2%;
*/}



/* call to action */

.FTL{

    font-size:xx-large;
    width:40%;
    line-height:1.5;
    margin: auto ;
    padding-top: 50px;
    

}
.ctabtn{
    
    margin:5% 1%;
}   



/* footer */


#footer{
    padding:3% 3%;
   
}

.footer-icons{
    color:black;
    margin:20px 10px;
}

.p-footer{
    margin-top:20px;
}
    